.hero {
  padding-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  align-items: center;
  justify-content: center;
}

.hero .titles p {
  font-size: 1.5em;
}

.hero .titles h1 {
  font-size: 2.6em;
}

.hero .titles h2 {
  font-size: 2em;
}

.profileImg {
  width: 300px;
  background: radial-gradient(#011c26, #011c26, #cfd984, #f2eac2);
  border: 2px solid #fff;
  border-radius: 50%;
}

.btnResume {
  width: 30%;
  padding: 5px 20px;
  border: none;
  border-radius: 50px;
  background-color: #08c4e9;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btnResume:hover {
  transform: scale(1.1);
  background-color: #cfd984;
 
}

