.hero {
  padding-top: 3.6rem;
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero .titles p {
  font-size: 1.5em;
}

.hero .titles h1 {
  font-size: 3.6em;
}

.hero .titles h2 {
  font-size: 2.6em;
}

.profileImg {
  width: 350px;
  background: radial-gradient(#011c26, #011c26, #cfd984, #f2eac2);
  border: 2px solid #fff;
  border-radius: 50%;
}

.btnResume {
  width: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #08c4e9;
  text-align: center;
  font-size: 1.2em;
  transition: 0.3s ease-in;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  left: 10%;
  display: flex;
  justify-content: center;
  transition: 0.7s ease-in
}

.btnResume:hover {
  background-color: #cfd984;
  color: #000;
  cursor: pointer;
  
}

